//Colors
$primary-light: hsl(196, 93%, 72%);
$primary-lighter: hsl(196, 93%, 85%);
$primary: hsl(196, 93%, 62%);
$primary-dark: hsl(196, 93%, 50%);
$primary-darken: hsl(196, 93%, 33%);

$secondary-light: hsl(239, 96%, 80%);
$secondary-lighter: hsl(239, 96%, 90%);
$secondary: hsl(239, 96%, 70%);
$secondary-dark: hsl(239, 96%, 60%);
$secondary-darken: hsl(239, 96%, 40%);

$accent-light: hsl(329, 83%, 70%);
$accent-lighter: hsl(329, 83%, 85%);
$accent: hsl(329, 83%, 60%);
$accent-dark: hsl(329, 83%, 50%);
$accent-darken: hsl(329, 83%, 38%);

$gray: hsl(0, 0%, 80%);
$gray-light: hsl(0, 27%, 100%);
$gray-dark: hsl(0, 0%, 60%);

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
