//Colors
$primary-light: hsl(128, 51%, 70%);
$primary-lighter: hsl(128, 93%, 85%);
$primary: hsl(128, 93%, 62%);
$primary-dark: hsl(128, 93%, 50%);
$primary-darken: hsl(128, 93%, 33%);

$secondary-light: hsl(39, 96%, 70%);
$secondary-lighter: hsl(39, 96%, 80%);
$secondary: hsl(39, 86%, 53%);
$secondary-dark: hsl(39, 96%, 40%);
$secondary-darken: hsl(39, 96%, 30%);

$accent-light: hsl(214, 83%, 70%);
$accent-lighter: hsl(214, 83%, 85%);
$accent: hsl(214, 83%, 55%);
$accent-dark: hsl(214, 83%, 40%);
$accent-darken: hsl(214, 83%, 38%);

$gray: hsl(0, 0%, 80%);
$gray-light: hsl(0, 27%, 100%);
$gray-dark: hsl(0, 0%, 60%);

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
