// Screens
$small-mobile-screen: 21.875em; // 350px / 16px;
$mobile-screen: 28.125em;  // 450px / 16px;
$tablet-screen:  45em; // 820px / 16px
$laptop-screen: 64em; // 1024px / 16px;
$pc-screen: 121em; // 1936px /16; more than full hd;