// sizes
$size-xs: 2px;
$size-sm: 0.4rem;
$size-md: 0.8rem;
$size-lg: 1.6rem;
$size-huge: 2.4rem;
$size-xl: 3.2rem;
$size-xxl: 6.4rem;
$size-hundred: 10rem;
$size-hundred-half: 15rem;
$size-two-hundred: 20rem;
$size-two-hundred-half: 25rem;
$min-width-half: 35rem;
$size-fifty: 5rem;
$min-width: 300px;

// Widths
$max-width-text: 75ch;

$navbar-height: 7rem;